@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
    --font-unna: "Unna", "serif"; 
    --animate-fade-in: fade-in 1s ease-in-out forwards;
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }